/* main style sheet for Site */
body {
  padding-top: 5rem;
<<<<<<< Updated upstream
  background-color: antiquewhite;
=======
  background-color: white;
>>>>>>> Stashed changes
}
.search {
  text-align: left;
  width: 40%;
  margin-top: auto;
  background-color: white;
}


.moonButton{
background-color: transparent; 
border: none;
cursor: pointer;
}

.dropDown {
  display: block;
  margin: 0 auto;
  text-align: left;
  position: relative;
  height: 10%;
  width: auto;
}

.result  {
  position: relative;
  text-align: left;
  align-items: left;
  margin: 0 auto;
  border-style: none;
  background-color: gray;
  align-items: left;
}

.result:hover{
  background-color: lightblue;
}


img.logo {
  max-height: 50px;
  width: auto;
}

#searchdiv {
<<<<<<< Updated upstream
  text-align: center;
=======
  text-align: left;
  align-items: left;
  background-color: gray;
>>>>>>> Stashed changes
}

.search {
  min-width: 80%;
}

#buttons {
  padding-top: 50px;
  width: 80%;
}

#blackboardButton {
  padding-top: 5px;
  margin:5px;
  min-width: 105px;
}

#evisionButton {
  padding-top: 5px;
  margin:5px;
  min-width: 105px;
}

#officeButton {
  padding-top: 5px;
  margin:5px;
  min-width: 105px;
}

#covidButton {
  padding-top: 5px;
  margin:5px;
  min-width: 105px;
}