/* main style sheet for Site */
body {
  padding-top: 5rem;
  background-color: gray;
}
.search {
  text-align: left;
  width: 40%;
  margin-top: auto;
}


.moonButton{
background-color: transparent; 
border: none;
cursor: pointer;
}

.dropDown {
  display: block;
  margin: 0 auto;
  text-align: left;
  position: relative;
  height: 10%;
  width: auto;
}

.result  {
  position: relative;
  text-align: left;
  align-items: left;
  margin: 0 auto;
  border-style: none;
  background-color: white;
  align-items: left;
}

.result:hover{
  background-color: lightblue;
}


img.logo {
  max-height: 50px;
  width: auto;
}

#searchdiv {
  text-align: center;
}

.search {
  min-width: 90%;
  align-items: right;
}

#buttons {
  padding-top: 50px;
  min-width: 90%;
}

#blackboardButton {
  padding-top: 5px;
  margin:5px;
  min-width: 105px;
}

#evisionButton {
  padding-top: 5px;
  margin:5px;
  min-width: 105px;
}

#officeButton {
  padding-top: 5px;
  margin:5px;
  min-width: 105px;
}

#covidButton {
  padding-top: 5px;
  margin:5px;
  min-width: 105px;
}

#campusMapButton {
  margin: 10px;
  margin-left: 0px;
}

#findLecturerButton {
  margin: 10px;
  margin-left: 0px;
}

#covid {
  margin: 10px;
  margin-left: 0px;
}

.h3 {
  text-align: centre;
  padding-bottom: 10px;
}

.card {
  margin-bottom: 7px;
}